@use "../core" as *;

$config: core.$config !default; //Required for workaround: https://github.com/sass/sass/issues/3008

.channel-colored-list {
  @include colored-border(map-get($config, not-a-themed-color), get-double(2));

  background-color: map-get($config, primary-color);
  border: 1px solid ;
  padding: 10px;
  margin: 10px;
  list-style: none;
  li {
    margin: 5px;
  }
}
